aws {
    accessKey = 'INSERT HERE'
	secretKey = 'INSERT HERE'
	region = 'ap-southeast-1'
    batch {
      cliPath = '/home/ec2-user/miniconda3/bin/aws'
    }
}

process {
//the common exit status of 140 indicates that a process failed due to exceeding 
//memory, disk, CPU, or time constraints
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_small {
        executor = 'awsbatch'
		queue = 'MTX_small_queue'
		memory = { task.attempt > 1 ? 15.GB : 6.GB }
		cpus = { task.attempt > 1 ? 4 : 2 }
    }
    withLabel:process_medium {
		executor = 'awsbatch'
		queue = 'MTX_medium_queue'
		memory = { task.attempt > 1 ? 62.GB : 36.GB }
		cpus = 8
    }
    withLabel:process_high {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_high_queue' }
		memory = { task.attempt > 1 ? 126.GB : 60.GB }
		cpus = 32
    }
    withLabel:process_highmem {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_highmem_queue' }
		memory = { task.attempt > 1 ? 126.GB : 96.GB }
		cpus = 32
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 1
    }
}

params {
	
	//bwa index (human or host)
	bwaidx_path					= 's3://mtx-nextflow-bucket/MTX_databases/hg38'
	bwaidx						= 'hg38.fa'
	
	//STAR index
    	star_index                  			= 's3://mtx-nextflow-bucket/MTX_databases/hg38/STAR_index/GenomeDir'
	
	//rRNA removal
	ribokmers					= 's3://mtx-nextflow-bucket/MTX_databases/ribokmers/ribokmers.fa.gz'
		
	//Kraken2 and Bracken
	kraken2db					= 's3://mtx-nextflow-bucket/MTX_databases/kraken2_plusfungi_09oct2021'
	
	// Bowtie2 pangenome alignment
	pangenome_path 					= 's3://mtx-nextflow-bucket/MTX_databases/IHSMGC'
	pangenome 					= 'IHSMGC'
	
	// Diamond translated search
	dmnddb 						= 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90_09jun2021.dmnd'

	// Databases for functional annotations
        uniref90_fasta                                  = 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90.fasta'
        eggnog_db					= 's3://mtx-nextflow-bucket/MTX_databases/eggnog_db/'
        eggnog_OG_annots                                = 's3://mtx-nextflow-bucket/MTX_databases/eggnog_db/e5.og_annotations_sorted.tsv'
        uniref90_GO                                     = 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90_GO_full_formatted'
        pangenome_annots                                = 's3://mtx-nextflow-bucket/MTX_databases/IHSMGC_eggnog_annotations/IHSMGC_combined_annotations.tsv'
		spike_in_path					= 's3://mtx-nextflow-bucket/MTX_databases/spike_ins'
}
