/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 * Make sure AWS CLI tool is installed in a custom AMI e.g. aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
 * https://www.nextflow.io/docs/latest/awscloud.html
 */


params.tracedir = './'

aws {
    region = params.awsregion
    batch {
    	  cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    executor = 'awsbatch'
    queue = params.awsqueue
}