aws {
    accessKey = 'INSERT HERE'
	secretKey = 'INSERT HERE'
	region = 'ap-southeast-1'
    batch {
      cliPath = '/home/ec2-user/miniconda3/bin/aws'
    }
}

process {
//ignore errors, which will also result in downstream processes to not be attempted for a failed sample
    errorStrategy = 'ignore'

    // Process-specific resource requirements
    withLabel:process_small {
        executor = 'awsbatch'
		queue = 'MTX_small_queue'
		memory = { task.attempt > 1 ? 15.GB : 6.GB }
		cpus = { task.attempt > 1 ? 4 : 2 }
		errorStrategy = 'ignore'
    }
    withLabel:process_medium {
		executor = 'awsbatch'
		queue = 'MTX_medium_queue'
		memory = { task.attempt > 1 ? 62.GB : 36.GB }
		cpus = 8
		errorStrategy = 'ignore'
    }
    withLabel:process_high {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_high_queue' }
		memory = { task.attempt > 1 ? 140.GB : 60.GB }
		cpus = 32
		errorStrategy = 'ignore'
    }
    withLabel:process_highmem {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_highmem_queue' }
		memory = { task.attempt > 1 ? 140.GB : 110.GB }
		cpus = 32
		errorStrategy = 'ignore'
    }
}

params {
	
	
	//STAR index
    	star_index                  			= 's3://mtx-nextflow-bucket/MTX_databases/hg38/STAR_index/GenomeDir'
	
	//rRNA removal
	ribokmers					= 's3://mtx-nextflow-bucket/MTX_databases/ribokmers/ribokmers.fa.gz'
		
	//Kraken2 and Bracken
	kraken2db					= 's3://mtx-nextflow-bucket/MTX_databases/kraken2_plusfungi_09oct2021'
	
	// Bowtie2 pangenome alignment
	pangenome_path 					= 's3://mtx-nextflow-bucket/MTX_databases/IHSMGC'
	pangenome 					= 'IHSMGC'

	// Human pangenome references
	human_pangenome_path				= 's3://mtx-nextflow-bucket/human_pangenome_vg1.63.1'
	
	// Diamond translated search
	dmnddb 						= 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90_09jun2021.dmnd'
	dmndfai						= 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90.fai'

	// Databases for functional annotations
        uniref90_fasta                                  = 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90.fasta'
        eggnog_db					= 's3://mtx-nextflow-bucket/MTX_databases/eggnog_db/'
        eggnog_OG_annots                                = 's3://mtx-nextflow-bucket/MTX_databases/eggnog_db/e5.og_annotations_sorted.tsv'
        uniref90_GO                                     = 's3://mtx-nextflow-bucket/MTX_databases/uniref90_09Jun2021/uniref90_GO_full_formatted'
        pangenome_annots                                = 's3://mtx-nextflow-bucket/MTX_databases/IHSMGC_eggnog_annotations/IHSMGC_combined_annotations.tsv'
		spike_in_path					= 's3://mtx-nextflow-bucket/MTX_databases/spike_ins'
}
