docker.enabled         = true
process {
    // Process-specific containers
        withName:DECONT_RNA {
        container = 'chiamh/meta-omics_main:latest'
    } 
	withName:DECONT_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:FASTP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:DEDUP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:RIBOFILTER {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2_RNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:BRACKEN {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:PANALIGN_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:PANALIGN_DNA_SPIKES{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:PANALIGN_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:DMND_DNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:DMND_RNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:ANNOT_DMND_DNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_DMND_RNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_PAN_DNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_PAN_RNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:TRF_TAXA_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:TRF_TAXA_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
}
