docker.enabled         = true
process {
    // Process-specific containers
    withName:DECONT_RNA {
        container = 'chiamh/meta-omics_main:latest'
    } 
	withName:DECONT_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:FASTP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:DEDUP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:RIBOFILTER {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2 {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:BRACKEN {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:PANALIGN{
		container = 'chiamh/bt2.4.4:latest'
	}
	withName:DMND{
		container = 'chiamh/meta-omics_main:latest'
	}
		

}