//https://docs.sylabs.io/guides/3.2/user-guide/cli/singularity_pull.html
//https://www.nextflow.io/docs/edge/container.html
//Or define the full path to singularity images for local installations
singularity.enabled = true
process {
    // Process-specific containers
	withName:FASTP_UMI {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:PAN_DMND_KRAKEN_FASTQ {
        container = 'chiamh/seqtk1.2:latest'
    }
	withName:DECONT_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:DECONT_DNA_PANALIGN {
        container = 'chiamh/vg1.63.1:latest'
    }
	withName:STAR {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:DEDUP {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:UMITOOLS_DEDUP {
        container = 'https://depot.galaxyproject.org/singularity/umi_tools:1.1.5--py39hf95cd2a_0'
    }
	withName:UMITOOLS_CLUST {
        container = 'chiamh/umi_toolsv1.1.5'
    }
	withName:RIBOFILTER {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2_DNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2_RNA {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:BRACKEN {
        container = 'chiamh/meta-omics_main:latest'
    }
	withName:PANALIGN_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:PANALIGN_DNA_SPIKES{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:PANALIGN_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:DMND_DNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:DMND_RNA{
		container = 'chiamh/meta-omics_main:latest'
    }
	withName:VSEARCH{
		container = 'chiamh/vsearch2.30.1:latest'
    }
	withName:ANNOT_DMND_DNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_DMND_RNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_PAN_DNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:ANNOT_PAN_RNA{
		container = 'chiamh/emapper2.1.6:latest'
    }
	withName:TRF_TAXA_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:TRF_TAXA_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:CONCAT_RNA{
		container = 'chiamh/bt2.4.4:latest'
    }
	withName:CONCAT_DNA{
		container = 'chiamh/bt2.4.4:latest'
    }
}
