//https://sylabs.io/guides/3.2/user-guide/cli/singularity_pull.html
process {
    // Process-specific containers
    withName:DECONT_RNA {
        container = 'docker://chiamh/meta-omics_main:latest'
    } 
	withName:DECONT_DNA {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:FASTP {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:DEDUP {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:RIBOFILTER {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:KRAKEN2 {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:BRACKEN {
        container = 'docker://chiamh/meta-omics_main:latest'
    }
	withName:PANALIGN{
		container = 'docker://chiamh/bt2.4.4:latest'
	}
	withName:DMND{
		container = 'docker://chiamh/meta-omics_main:latest'
	}
		

}