params {
	
	//Reference genome (human)
	hg_fasta					= '/home/ubuntu/volume1/databases/hg38/hg38.fa'
	
	//STAR index
    star_index                  = '/home/ubuntu/volume1/databases/hg38/STAR_index'
	
	//rRNA removal
	ribokmers					= '/home/ubuntu/volume1/databases/ribokmers/ribokmers.fa.gz'
		
	//Kraken2 and Bracken
	kraken2db					= '/home/ubuntu/volume1/databases/kraken2_plusfungi_09oct2021'
	
	// Bowtie2 pangenome alignment
	pangenome 					= '/home/ubuntu/volume1/databases/IHSMGC/IHSMGC.fa'
	
	// Diamond translated search
	dmnddb 						= '/home/ubuntu/volume1/databases/uniref90_09Jun2021/uniref90_09jun2021.dmnd'
}
	
